a{
    color: inherit; 
    text-decoration: none;
}

body {
    background-color: rgb(231, 231, 192);
}
#header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    float: left;
    width: 30%;
    height: 70%;
}

#mid {
    float: left;
    width: 70%;
    height: 70%;
}

#footer {
    clear: both;
    height: 15%;
}
.ziel{
    color : rgb(124, 224, 106);
}

.nieb{
    color: rgb(106, 183, 224);
}