a{
    color: inherit; 
    text-decoration: none;
}

body {
    background-color: rgb(231, 231, 192);
    font-family: Georgia;
}
#header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('las.png'); 
    background-size: cover;                     /* ustawiłem obraz jako tło*/
    background-position: center;
    
}

#nav {
    float: left;
    width: 30%;
    height: 70%;
    position: fixed; /* Ustawia lewy div na stałej pozycji */
    margin-right: 80px;/* Ustawienie odstępu 15px wewnątrz diva */
}

#mid {
    float: right; /* kleji mida do boku nawigacji --- ustawienie na lewo nałoży na siebie diby, nie rozjeb tego XD */
    width: 70%;
    height: 70%;
    position: relative;
    margin-left: 100px;

}
#menu{
    font-size: large;
}
#footer {
    clear: both;
    height: 15%;
}
.ziel{
    color : rgb(124, 224, 106);
}

.nieb{
    color: rgb(106, 183, 224);
}

.tekst{
    border-bottom: 3px solid whitesmoke; 
    margin-bottom: 10px;
    font-size: large;
}

